.dashboard-container {
  padding: 15px;

  .title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .content {
    display: flex;
    gap: 20px;

    .left {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .child {
        height: 150px;
        width: calc(50% - 10px);
        border: 1px solid #ccc;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .text-2 {
            font-size: 25px;
        }
      }
    }

    .right {
      width: 50%;
    }
  }
}
